<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>To Do List</title>
    <meta name="description" content="Simple To Do list. You can dynamically add and delete activities to this list">
    <meta name="author" content="Anatoly Ryabchenko">

    <link rel="stylesheet" href="css/styles.css">

</head>